<div class="bands">
  <div ng-repeat="band in bands">
    <table>
      <tr>
        <td style="padding: 2px" align="left">
          <input ng-model="band.low" required class="form-control" name="low">
        </td>
        <td style="padding: 2px" align="right">
          <input ng-model="band.high" ng-change="updateOlderSibling($index)" ng-model-options="{ debounce: 750 }" required class="form-control" name="high">
        </td>
      </tr>
      <tr>
        <td style="padding: 2px" align="left">
          <input minicolors ng-model="band.color" required type="text" class="form-control" name="color" data-position="bottom right">
        </td>
        <td style="padding: 2px" align="right">
          <input ng-model="band.customLabel" type="text" class="form-control" name="customLabel" placeholder="Custom Label">
        </td>
      </tr>
      <tr>
        <td style="padding: 5px" align="right">
          <input type="button" value="-" ng-click="removeBand()" class="btn btn-default" ng-if="$last" ng-disabled="$index === 0">
        </td>
        <td style="padding: 5px" align="left">
          <input type="button" value="+" ng-click="addBand()" class="btn btn-default" ng-if="$last">
        </td>
      </tr>
    </table>
  </div>
</div>
